* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
.wrap {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
/* <header>*/
.title {
    margin-bottom: 30px;
    padding-top: 107px;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: #212121;
}
.line {
    width: 64px;
    height: 2px;

    margin: 0 auto 30px; /* margin-top: 0px; margin-right: auto; margin-bottom: 30px; margin-left: auto;*/
    border: none; 
    background: #FF8B38;  
}
.subtitle {
    padding-bottom: 40px;

    font-weight: 400;
    font-size: 14px;
    color: #86878B;
}
/* <main> */
.main {
    margin: 40px 0 107px; /*margin-top: 40px; margin-right: 0px; margin-bottom: 107px; margin-left: 0px;*/
}
.content-main {
    display: inline-block;
    width: 350px;
    margin: 0 16px; /*margin-top: 0px; margin-right: 16px; margin-bottom: 0px; margin-left: 16px;*/
}
.subject-main {
    margin-bottom: 29px;

    font-weight: 700;
    font-size: 20px;
    color: #333333;
}
.text-main {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}
.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 29px;

    border: 2px solid #FF8B38;
    border-radius: 50%;
}
.icon--lamp {
    background: url(../img/icon/lamp.png) no-repeat center;
}

.icon--keyboard {
    background: url(../img/icon/keyboard.png) no-repeat center;
}

.icon--lightning {
    background: url(../img/icon/lightning.png) no-repeat center;
}
/* <section> */
.background {
    background-image: linear-gradient(to top, rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 345px;
}
.title--section {
    color: #ffffff;
}
.line--section {
    background: #ffffff;
}
.subtitle--section {
    color: #ffffff;
}
.button {
    width: 135px;
    height: 42px;

    font-weight: 600;
    font-size: 15px;
    color: #ffffff;

    background: transparent;
    border: 1px solid #ffffff;
}
/* <footer> */
.footer {
    background: #000000;
}


.list-icons {
    display: inline-block;
    width: 642px;
    margin-top: 25px;

    list-style: none; 
}
.item-icons {
    display: inline;
    margin-left: 20px;
}
.link-icons {
    display: inline-block;
    height: 46px;
    width: 40px;

    text-decoration: none;

    background: url(../img/social-icons.png) no-repeat;
}


.link--facebook {
    background-position: 21px 0px;
}
.link--twitter {
    background-position: -32px 0px;
}
.link--google {
    background-position: -85px 0px;
}
.link--pinterest {
    background-position: -131px 0px;
}
.link--instagram {
    background-position: -180px 0px;
}
.link--rss {
    background-position: -233px 0px;
}
.link--stumbleupon {
    background-position: -280px 0px;
}
.copyright {
    font-size: 12px;
    color: #ffffff80;
}
